
{
  margin-top: 0px;
  border-top: 0px;
}

header{
  background-image:
  linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("../images/wheel.jpeg");
  height:100vh;
  background-size: cover;
  background-position: center;
}
/* ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

} */

.main-nav{
  float:inherit;
  list-style: none;
  padding-top: 30px;
}

/* li {
  display: inline-inline-block;

} */

.main-nav li {
  display:inline-block;
}

li a {
  color: white;
  text-decoration: none;
  padding:5px 20px;
  font-family:"Roboto",sans-serif;
  font-size: 20px;
}
/*
.main-nav li.active a {
  border: 1px solid white;
} */

li a:hover {
  border: 1px solid white;
}

.crown img {
  width: 100px;
  height:auto;
  float: left;
}

body{
  font-family: monospace;
}

.row {
  max-width: 1200px;
  margin:auto;
}

.name {
  position: absolute;
  width: 1200px;
  margin-left: 0px;
  margin-top: 0px;
}

h1 {
  color:white;
  text-transform: uppercase;
  font-size: 70px;
  text-align: center;
  margin-top: 275px;
}

.button {
  margin-top: 30px;
  margin-left: 440px;
}

.btn {
  border: 1px solid white;
  padding:10px 30px;
  color: white;
  text-decoration: none;
  margin-right: 5px;
  font-size: 13px;
  text-transform: uppercase;
}

.btn-one {
  font-family: "Roboto",sans-serif;
}

.btn-one:hover{
  color: black;
  background-color: white;
  transition: all 0.5s ease-in;
}

.btn-two {
  font-family: "Roboto",sans-serif;
}

.btn-two:hover{
  color:black;
  background-color: white;
  transition: all 0.5s ease-in;
}
